DEBUG=true
SECRET_KEY=1234
ALLOWED_HOSTS=127.0.0.1,localhost,example.com

DB_TYPE=postgres
DB_NAME=django_grpc
DB_USER=postgres
DB_PASSWORD=985698
DB_HOST=postgres
DB_PORT=5432

WAIT_HOSTS: postgres:5432
WAIT_TIMEOUT: 120

DJANGO_SUPERUSER_PASSWORD=qwer1234
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_USERNAME=admin
